.s-wrapper .s-main-content .s-logo img{
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
    width: 70rem;

}

.gallery ul{
    display: flex;
    flex-direction: row;
    
  }

  .gallery ul li img{
    width: 21rem;
  }
  
  